<!doctype html>
<html class="no-js" lang="zxx">  
    <!-- Main Wrapper Start -->
    <div class="wrapper">   
       <!-- Breadcrumb area Start -->
        <section class="page-title-area bg-color" data-bg-color="#f4f4f4">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title">Cart</h1>
                        <ul class="breadcrumb">
                            <li><a routerLink="">Home</a></li>
                            <li class="current"><span>Cart</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb area End -->
    </div>
    <!-- Main Wrapper End -->
    
    <!-- ************************* JS Files ************************* -->
    
    <!-- jQuery JS -->
    <script src="/assets//vendor.js"></script>
    
    <!-- Main JS -->
    <script src="/assets//main.js"></script>
    
</html>
